{% extends "master.html.twig" %}

{% block title %}{{ daycareuser.name }} - {{ daycareuser.position }}{% endblock %}
{% block headExtra %}
    {% if daycareuser %}
       
                    <h3>Congradulations {{ daycareuser.name }}, you've just successfully add a new Comment.</h3>
                {% endif %}
{% endblock %}

{% block content %}
      <div class="wrap"> 
    <a href="/main" class="button">Return to Main</a>
     </div>
{% endblock content %}

