{% extends "master.html.twig" %}

{% block title %}{{ daycareuser.name }} - {{ daycareuser.position }}{% endblock %}
{% block headExtra %}
    {% if daycareuser %}
                    <h3>Congradulations {{ daycareuser.name }}, you've just successfully add a new Educator.</h3><br>
                {% endif %}
{% endblock %}

{% block content %}
    
    <div id="hr">
    <input type=button onClick="location.href='listofeducators'" value='Our Personal'>
    
    <input type=button onClick="location.href='listofkids'" value='Our Kids'>
    </div>
       
    
    <h5>You may logout by clicking <a href="/logout">here</a>.</h5>

{% endblock content %}