{% extends "master.html.twig" %}

{% block title %}{{ daycareuser.name }} - {{ daycareuser.position }}{% endblock %}
{% block headExtra %}
    {% if daycareuser %}
       
                    
                {% endif %}
{% endblock %}

{% block content %}
   <div class="wrap" >
       <h3>Congradulations {{ daycareuser.name }}, <br>you've just successfully add a new Educator.</h3><br>
    <a href="listofeducators" class="button">See our Personal</a>             
  		<a href="listofkids" class="button">See our Children</a>  
       
    
   <h3><a href="/logout">LOGOUT</a></h3>
     </div>
{% endblock content %}