{% extends "master.html.twig" %}

{% block title %}Child successfully deleted{% endblock %}

{% block content %}
    
   Child deleted. <a href="/listofkids">Click to continue</a>
   
{% endblock content %}


