{% block title %}Delete an Educator{% endblock %}

{% block content %}
    
<p> Are you sure you want to delete this Educator?</p>
    <form style="display: inline-block" action="/listofeducators">
        <input type="submit" value="Cancel"></form>

<form style="display: inline-block" method="post">
        <input type="hidden" name="delete" value="confirmed">
        <input type="submit" value="Yes, delete"></form>
<p>Name: {{v.kidName}}</p>
<p>Group: {{v.groupName}}</p>
<p>Age: {{v.age}}</p>
<p>Photo: <img src="/viewphotokids/{{v.id}}"></p>

{% endblock content %}

