{% extends "master.html.twig" %}

{% block title %}Educator successfully deleted{% endblock %}

{% block content %}
    
   Educator deleted. <a href="/listofeducators">Click to continue</a>
   
{% endblock content %}

