{% extends "master.html.twig" %}

{% block title %}Child successfully deleted{% endblock %}

{% block content %}
     <div id="form1"> 
   Child deleted. <a href="/listofkids">Click to continue</a>
     </div>
{% endblock content %}


