{% extends "master.html.twig" %}

{% block title %}Educator successfully deleted{% endblock %}

{% block content %}
     <div id="form1"> 
         <h1>Educator deleted.</h1>
         <a href="/listofeducators" class="button">Click to continue</a><br>
     </div>
{% endblock content %}

