{% extends "master.html.twig" %}

{% block title %}{{ daycareuser.name }} - {{ daycareuser.position }}{% endblock %}
{% block headExtra %}
    {% if daycareuser %}
                    
                {% endif %}
{% endblock %}

{% block content %}
      
    <div class="wrap" >           
  		<a href="listofkids" class="button2">See our Children</a>    
	        <a href="listofkidcomments" class="button">Comments about child</a>
  		<a href="listofgroupcomments" class="button2">Comments about group</a>
                <a href="childcomment" class="button">Add comment for child</a>
                <a href="groupcomment" class="button2">Add comment for group</a>    
                <h3><a href="/logout">LOGOUT</a></h3>
</div>
{% endblock content %}