{% extends "master.html.twig" %}
{% block title %}Login successful{% endblock %}
{% block content %}
<br>
<br>
<h2>Not allow this operation.</h2>
<br><br>
<p>You may now <a href="/login">login</a>.</p>
<p>You may now <a href="/register">register</a>.</p>

{% endblock content %}
