{% extends "master.html.twig" %}

{% block title %}Group comments list{% endblock %}

{% block content %}
    <div class="wrap2" >
        <h2>
            <strong>Group comments List</strong>
        </h2>
         <div>
                 <a href="/groupcomment" class="button">Add a new comment for Group</a>
            </div>
            <table border="1">
                <th>Group</th>
                <th>Date</th>
                <th>Comment</th>
                <th>Commented by</th>
                
                    {% for k in groupcomments %}
                    <tr>
                        <td>{{ k.groupName }}</td>
                        <td>{{ k.date }}</td>
                        <td>{{ k.comment }}</td>
                        <td>{{ k.commentedBy }}</td>
                    </tr>
                {% endfor %}
            </table>
             
    </div>
          
{% endblock %}


