{% extends "master.html.twig" %}

{% block title %}Kid comments list{% endblock %}

{% block content %}
   <div class="wrap2" >
        <h2>
            <strong>Kid comments List</strong>
        </h2>
       <div>
                 <a href="/childcomment" class="button">Add a new comment for Child</a>
            </div>
       
            <table border="1">
                <th>Name</th>
                <th>Date</th>
                <th>Comment</th>
                <th>Commented by</th>
                
                    {% for k in kidcomments %}
                    <tr>
                        <td>{{ k.kidName }}</td>
                        <td>{{ k.date }}</td>
                        <td>{{ k.comment }}</td>
                        <td>{{ k.commentedBy }}</td>
                    </tr>
                {% endfor %}
            </table>
               
    </div>
          
{% endblock %}

