{% extends "master.html.twig" %}

{% block title %}Group comments list{% endblock %}

{% block content %}
    <div>
        <h2>
            <strong>Group comments List</strong>
        </h2>
            <table border="1">
                <th>Group</th>
                <th>Date</th>
                <th>Comment</th>
                <th>Commented by</th>
                
                    {% for k in groupcomments %}
                    <tr>
                        <td>{{ k.groupName }}</td>
                        <td>{{ k.date }}</td>
                        <td>{{ k.comment }}</td>
                        <td>{{ k.commentedBy }}</td>
                    </tr>
                {% endfor %}
            </table>
            <div>
                <button type="submit" class="btn btn--right"><a href="/groupcomment" class='btn--no--underline'>Add a new comment for Group</a></button>
            </div>   
    </div>
          
{% endblock %}


