{% extends "master.html.twig" %}

{% block title %}Login successful{% endblock %}

{% block headExtra %}
    
    {% if daycareuser %}
         
                    
                {% endif %}
{% endblock %}

{% block content %}
   <div id="form1">   
       <h3>Welcome {{ daycareuser.name }},</h3>
    <h3>you've logged in succesfully.<br>
    <a href="/main" class="button">M A I N</a></h3>
    <a href="/logout" class="button">LOGOUT</a><br>
   </div>
{% endblock content %}