{% extends "master.html.twig" %}

{% block title %}Login{% endblock %}

{% block content %}


<form method="post">
    <h1> Welcome!</h1>
<h3>You have to Login</h3>
    Email:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <input type="email" placeholder="Enter email" name="email"><br><br>
    Password: <input type="password" placeholder="Enter Password" name="pass">
    <div style="text-align:center;">
        <input type="checkbox" > remember me<br><br>
        <input type="submit" value="Login">
<p>If you forgot your password you can <a href="/passreset">reset it</a>.</p>
  </div>

  {% if error %}
    <p class="errorList">Login failed try again.</p>
{% endif %}
    
  


</form>


{% endblock content %}
