{% extends "master.html.twig" %}

{% block title %}Login successful{% endblock %}
{% block headExtra %}
    {% if daycareuser %}
                    <h3>Welcome {{ daycareuser.name }}.</h3><br>
                {% endif %}
{% endblock %}

{% block content %}
        <div id="form1">        
    <h3>You've logged in succesfully.<br>
    <a href="/main"><br>Click here to continue</a>.</h3><br><br>
    <h5>You may logout by clicking <a href="/logout">here</a>.</h5>
        </div>
{% endblock content %}