<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/styles.css"/>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        {% block headExtra %}{% endblock %}
    </head>
    <body>
        <div id="centerContent">
            <div id="header">
                
            </div>
            <div id="content">
            {% block content %}{% endblock %}
            </div>
            <div id="footer">            
       &copy; Copyright 2017 by <a href="http://domain.invalid/">Andrei&Greg IPD-9</a>.  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp    Also, you may logout by clicking <a href="/logout">here</a>.           
            </div>
        </div>
    </body>
</html>