{% extends "master.html.twig" %}

{% block title %}Password reset{% endblock %}

{% block content %}
     <div id="form1"> 
    <h1>Password reset - email sent</h1>

    <p>Email with password reset code has been sent.
        Please allow the email a few minutes to arrive.
        <a href="/login" class="button">Click here to continue</a></p>
     </div>
{% endblock %}
