{% extends "master.html.twig" %}

{% block title %}Successful{% endblock %}

{% block content %}
     <div id="form1"> 
<h1>Password reset successful</h1>

<a href="/">Click to continue</a>
     </div>
{% endblock %}
