{% extends "master.html.twig" %}

{% block title %}User registration{% endblock %}

{% block headExtra %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        $("#emailInUse").hide();
        $("input[name=email]").keyup(function() {
            var email = $(this).val();
            //console.log("Keyup: " + email);
            if (email === "") {
                $("#emailInUse").hide();
                return;
            }
            $.get("/ajax/emailused/" + email, function(result) {
                result = eval(result);
                if (result) {
                    $("#emailInUse").show();
                } else {
                    $("#emailInUse").hide();
                }
            });
        });
    });
</script>

{% endblock headExtra %}


{% block content %}
    
{% if errorList %}
    <ul class="errorList">
        {% for error in errorList %}
            <li>{{ error }}</li>
        {% endfor %}
    </ul>
{% endif %}
<h3> Register form</h3>

<form method="post" id="form1">
    Name: <br><input type="text" placeholder="Enter your name" name="name"><br>
    Email: <br><input type="email" placeholder="Enter email" name="email" value="{{v.email}}">
        <span id="emailInUse">Email already registered</span><br>
        Password: <br><input type="password" placeholder="Enter password" name="pass1"><br>
    Password (repeated): <input type="password" placeholder="Enter password again" name="pass2"><br>
    Position: <br><input type="text" placeholder="Enter position" name="position"><br><br>
    
    <div style="text-align:center;">
        <input type="submit" value="Register"></div>
</form>

{% endblock content %}
        
