{% extends "master.html.twig" %}

{% block title %}User registration successful{% endblock %}

{% block content %}
     <div id="form1"> 
         <div class="wrap" >
         <p>Registration successful.</p><br>  
         <a href="/login" class="button">You may now login</a>.
         </div>
     </div>
{% endblock content %}

