{% extends "master.html.twig" %}

{% block title %}User registration successful{% endblock %}

{% block content %}
     <div id="form1"> 
<p>Registration successful. You may now <a href="/login">login</a>.</p>
     </div>
{% endblock content %}

